@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
    
    body{
      background-color:hsl(210, 46%, 95%) ;
      
    }
    .center{
      position:absolute;
      margin-top:100px;
      margin-left:125px;
      width: 800px;
      height:300px;
      background-color:white; 

    }
    .pic{
      position:absolute;
      width: 35%;
      height:100%;
      margin-top: 0;
      margin-left: 0;
      
    }
    .texte{
      position:absolute;
      width: 60%;
      height:100%;
      margin-left: 250px;
      left:50px;
      font-display: justify;
      font-size: 18px;
      font-family:Manrope ;
      color:hsl(214, 17%, 51%);
    }
    h4{
      font-size: 20px;
      color:hsl(217, 19%, 35%); 
    }
    .michelle{
      position:absolute;
      border-radius: 50%;
      width:50px;
      height: 50px;
      
    }
    .identifiants{
      position:absolute;
      margin-top: 0px;
      bottom: 15px;
      margin-left: 60px; 
      
    }
    #partager {
      position:absolute;
      margin-left:475px;
      margin-top:20px;
      right:10px;
      background-color:hsl(210, 46%, 95%);
      width: 40px;
      height:40px;
      border-radius: 50%;
      z-index: 1;
      

    }

    #partager:active{
      position:absolute;
      margin-left:475px;
      margin-top:20px;
      right:10px;
      background-color:hsl(217, 19%, 35%);
      cursor: pointer;
      width: 40px;
      height:40px;
      border-radius: 50%;
      z-index: 1;

    }
    .secondPic{
      position:absolute;
      margin-left:12px;
      margin-top:10px;
      background-repeat: no-repeat;
      z-index: 2;
      
    } 

    .secondPic :active{
      position:absolute;
      margin-left:12px;
      margin-top:10px;
      background-repeat: no-repeat;
      background: hsl(210, 46%, 95%);
      background-clip: border-box;
      cursor: pointer;
      z-index: 2;
      
    }
    
    .nom{
      font-weight: bolder;
      color:hsl(217, 19%, 35%);
    }

    .liste{
      position:absolute;
      margin-left:420px;
      margin-top:40px;
      top:90px;
      left:-80px;
      padding-top:20px;
      padding-right: 20px;
      padding-left: 20px;
      color:grey;
      list-style: none;
      display:flex;
      justify-content: space-between;
      width: 180px;
      height:40px;
      border-radius: 10px;
      background-color:hsl(217, 19%, 35%);
      text-transform: uppercase;

    }
    .triangle{
      position:absolute;
      margin-left: 430px;
      margin-top: -30px;
      width:40px;
      height:40px;
      background-color: hsl(217, 19%, 35%);
      border-radius: 100% 0% 0% 0%;
      transform:rotate(45deg);


    }

    
.links :hover {
  transform: scale(1.5);  
  
}

#visible{
  display: none;
} 



    @media screen and (max-width:414px) {
      .center{
      position:absolute;
      margin-top: 80px;
      margin-left: 30px;
      
      width: 350px;
      height:450px;
      background-color:white; 

    }

      .pic{
      position:absolute;
      width: 100%;
      height:45%;
     
      
    }
    .texte{
      position:absolute;
      width: 97%;
      height:55%;
      margin-top: 180px;
      margin-left: -40px;
      font-display: justify;
      font-size: 13px;
      font-weight: 500;
      font-family: Manrope;
      color:hsl(214, 17%, 51%);
    }

    #partager {
      position:absolute;
      margin-left:475px;
      margin-top:20px;
      right:60px;
      background-color:hsl(210, 46%, 95%);
      width: 40px;
      height:40px;
      border-radius: 50%;
      z-index: 1;
      

    }

    #partager:active{
      position:absolute;
      margin-left:475px;
      margin-top: 20px;
      right:60px;
      background-color:hsl(217, 19%, 35%);
      cursor: pointer;
      width: 40px;
      height:40px;
      border-radius: 50%;
      z-index: 1;

    }
    .secondPic{
      position:absolute;
      margin-left:12px;
      margin-top:10px;
      background-repeat: no-repeat;
      z-index: 2;
      
    } 

    .secondPic :active{
      position:absolute;
      margin-left:12px;
      margin-top:10px;
      background-repeat: no-repeat;
      background: hsl(210, 46%, 95%);
      background-clip: border-box;
      cursor: pointer;
      z-index: 2;
      
    }
    .liste{
      position:absolute;
      margin-left:70px;
      margin-top:105px;
      top:80px;
      left:-80px;
      padding-top:20px;
      padding-bottom: 10px;
      padding-right: -40px;
      padding-left: 10px;
      color:grey;
      list-style: none;
      display:flex;
      justify-content: space-around;
      width: 320px;
      height:55px;
      font-size: 25px;
      border-radius: 10px;
      background-color:hsl(217, 19%, 35%); 
      text-transform: uppercase;

    }
    .triangle{
      position:absolute;
      visibility:hidden;
      margin-left: 430px;
      margin-top: -30px;
      width:40px;
      height:40px;
      background-color: hsl(217, 19%, 35%);
      border-radius: 100% 0% 0% 0%;
      transform:rotate(45deg);

    }

    .links :hover {
  transform: scale(1.5);  
  
}

.identifiants{
  position:absolute;
  margin-top: 90px;
  top:120px;
  padding:none;
  margin-left: 60px; 
  
}
    
    }
    
    